<div class="col-md-12">
  <h1 class='text-center'><%= t('Mission list') %></h1>
  <div>
    <%= form_with url: search_missions_path, method: :get do |form| %>
      查詢標題或內容：
      <%= form.search_field :keyword %>
      <%= form.submit t("Search") %>
    <% end %>
  </div>
  <div class="mission d-flex">
    <%= link_to "#{t("New mission")}", new_mission_path, class: "btn btn-primary ms-auto" %>
  </div>
  <table class="table">
    <thead>
      <tr>
        <td scope="col" id='priority'>
          <%= t("Priority") %> 
          <%= form_with url: priority_search_missions_path, method: :get do |form| %>
            <%= form.select :priority, [[t("high"), 2], [t("low"), 0]] %>
            <%= form.submit t("Search") %>
          <% end %>
        </td>
        <td scope="col"> <%= t("Title") %> </td>
        <td scope="col"> <%= t("Content") %> </td>
        <td scope="col"> <%= t("Start_time") %> </td>
        <td scope="col"> <%= t("End_time") %> </td>
        <td scope="col">
          <%= t("State") %> 
          <%= form_with url: state_search_missions_path, method: :get do |form| %>
            <%= form.select :state, [[t("pending"), "pending"], 
                                     [t("running"), "running"], 
                                     [t("finished"), "finished"]] %>
            <%= form.submit t("Search") %>
          <% end %>
        </td>
      </tr>
    </thead>
    <tbody>
		<%= render 'missions_table', missions: @missions %>
   </tbody>
 </table>
</div>